img{
    width: 31%;
}

.selected{
    border: 5px solid red;
}

.red-bg {
    border: yellowgreen;
    background-color: tomato;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}