#prvi {
    background-color: red;
    width: 200px;
    height: 200px;
}

#drugi {
    background-color: yellow;
    width: 200px;
    height: 200px;
}

#treci {
    background-color: green;
    width: 200px;
    height: 200px;
}

#cetiri {
    background-color: red;
    width: 200px;
    height: 200px;
    position: absolute;
}

#pet {
    background-color: yellow;
    width: 200px;
    height: 200px;
    position: relative;
    left: 100px;
    top: 100px;
}

#sest {
    background-color: green;
    width: 200px;
    height: 200px;
    position: relative;
    left: 200px;
    top: 0px;
}

#sedam {
    background-color: red;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: 2;
}

#osam {
    background-color: yellow;
    width: 200px;
    height: 200px;
    position: relative;
    right: 100px;
    top: 100px;
    z-index: 1;
}

#devet {
    background-color: green;
    width: 200px;
    height: 200px;
    position: relative;
    right: 200px;
    top: 0px;
}

.divBasic {
    position: absolute;
    left: 5%;
}
.divLeft {
    position: absolute;
    left: 5%;
    top: 700px;
}
.divRight {
    position: absolute;
    right: 5%;
    top: 1200px;
}