body{
    background-size: cover;
    background-image: url(http://media0.webgarden.cz/images/_tmb/media0:510594dc243e5.jpg/p%C5%99%C3%ADroda%20%281%29%20%28Small%29.jpg);
    background-attachment: fixed;
}