.img1 {
    height: 200px;
    float: right; 
    display: block;
    
}

.img2 {
    width: 200px;
    display: block;
    margin: 0 auto;
}

.img3 {
    width: 200px;
    height: 200px;
    display: block;
}